body {
    background: #fff;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    font-size: 48px;
    cursor: pointer;
}

p {
    font-size: 12px;
    text-align: center;
    font-family: 'Inter';
}

button {
    border: 0px solid;
    background: none;
    font-family: 'Inter';
    text-transform: uppercase;
}

button:hover {
    background-color: #c2c2c2;
}

footer {
    margin: auto;
    display: flex;
    justify-content: center;
}

.map-container {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

table, th, td {
    border: 1px solid #646464;
    border-collapse: collapse;
  }

.map {
    border: 2px solid #646464;
}

.map td {
    width: 24px;
    height: 24px;
}

@media only screen and (max-width: 600px) {
    .map td {
        width: 28px;
        height: 29px;
    }
}

.map .on {
    background: #c2c2c2;
}

.map .off {
    background: #f8f8f8;
}


.direction-container {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
@media only screen and (max-width: 600px) {
    .direction-container {
        display: flex;
        justify-content: center;
        margin-top: 10%;
    }
}

.direction-container button  {
    width: auto;
    font-size: 24px;
}

@media only screen and (max-width: 600px) {
    .direction-container button  {
        width: auto;
        font-size: 32px;
    }
}

.settings-container {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
@media only screen and (max-width: 600px) {
    .settings-container {
        display: flex;
        justify-content: center;
        margin-top: 4%;
    }
}

.settings-container button  {
    width: auto;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    .settings-container button  {
        width: auto;
        font-size: 14px;
    }
}

.game-info {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.game-info p {
    margin: 8px;
    font-size: 10px;
    font-family: 'Inter';
    text-align: center;
}

footer {
    margin-top: 5%;
}

footer p {
    font-family: 'Inter';
    font-size: 10px;
    text-align: center;
}